build/
build-debug
build-release
.DS_Store
bin
data/Scenes/Cache
data/Scenes/selectedScenes/Cache
data/state
doc
.github
.cache
extern/pybind/
extern/pybind-backup
**/imgui.ini
**/*.pyc
**/*.png
Results
data/Models
pySPlisHSPlasH/research/runs
pySPlisHSPlasH/research/saved_models
pySPlisHSPlasH/research/.vscode
pySPlisHSPlasH/research/test
pySPlisHSPlasH/research/2023-*
formula_doc
.vscode
Utilities/Version.h
**/Cache
extern/partio-old
